<div id="open-modal" class="modal-window">
    <div>
        <a href="/" title="Close" class="modal-close">Close</a>
     	<h1 id="modal-h1">Your order has been completed!</h1>
     	<p id="modal-content"></p>
    </div>
</div>